.editor {
  counter-reset: line;
  border-radius: 10px;
  border: 1px solid #ced4da;
  min-height: 200px;
}

.error_invalid {
  border-color: #ff0000;
}

.error_valid {
  border-color: #4bd521;
}

.message {
  border-radius: 5px;
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    padding-top: 10
}
.message_invalid {
  background-color: rgba(210, 90, 90, 0.217);
  border-color: #ff0000;
}

.message_valid {
  background-color: #4bd52138;
  border-color: #4bd521;
  
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}


.error {
  background-color: #d7303024;
  width: 100%;
  display: inline-block;
}